<div class="side_bar_top">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="new_room">
    <a href="">チャットを作成する</a>
  </div>
</div>

<div class="side_bar_rooms">
  <div class="room">techroom1</div>
  <div class="room">techroom2</div>
  <div class="room">techroom3</div>

</div>